<head>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/icon?family=Material+Icons'	%>
  <%= stylesheet_link_tag 'feed.css' %> 
</head>
<% if user_signed_in? %>
<section class="section mb-0">
  <div class="container" >
    <div class="columns is-centered">
    
    		<%= render 'tw_profile' %>
         <%= render 'feed' %>
       <%= render 'who-to-follow' %>
            
    </div>
  </div>
</section>
	<% else %>
 <%= render 'loginprofile' %>
  <% end %>