<head>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/icon?family=Material+Icons'	%>
  <%= stylesheet_link_tag 'landingpage.css' %> 
  <%= stylesheet_link_tag 'feed.css' %> 
</head>



<% if user_signed_in? %>
  <section class="section">
    <div class="container">
      <div class="columns is-centered">
     
        <div class="column is-2">
        <nav class="panel">
          <article class="media">
            <div class="media-left">
              <i class="large material-icons">home</i>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="subtitle is-5 has-text-grey-lighter has-text-weight-bold">Inicio</p>
              </div>
            </div>
          </article>
          <article class="media">
            <div class="media-left">
            <i class="large material-icons">explore</i>
            </div>
            <div class="media-content">
              <div class="content">
              <p class="subtitle is-5 has-text-grey-lighter has-text-weight-bold">Explorar</p>
              </div>
            </div>
          </article>
          <article class="media">
            <div class="media-left">
              <i class="large material-icons">notifications</i>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="subtitle is-5 has-text-grey-lighter has-text-weight-bold">Notificaciones</p>
              </div>
            </div>
          </article>
          <article class="media">
            <div class="media-left">
              <i class="large material-icons">archive</i>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="subtitle is-5 has-text-grey-lighter has-text-weight-bold">Guardados</p>
              </div>
            </div>
          </article>
          <article class="media">
            <div class="media-left">
              <i class="large material-icons">list</i>
            </div>
            <div class="media-content">
              <div class="content">
              <p class="subtitle is-5 has-text-grey-lighter has-text-weight-bold">Listas</p>
              </div>
            </div>
          </article>
          <article class="media">
            <div class="media-left">
              <i class="large material-icons">person</i>
            </div>
            <div class="media-content">
              <div class="content">
              <%= link_to 'profile', twitter_profile, class: "subtitle is-5 has-text-grey-lighter has-text-weight-bold"%>
              
                <%# <p class="subtitle is-5 has-text-grey-lighter has-text-weight-bold">Perfil</p> %>
              </div>
            </div>
          </article>
          <article class="media">
            <div class="media-left">
              <i class="large material-icons">more</i>
            </div>
            <div class="media-content">
              <div class="content">
                <p class="subtitle is-5 has-text-grey-lighter has-text-weight-bold">Mas Opciones</p>
              </div>
            </div>
          </article>
        </nav>
      </div>    
             
      


      </head>

      <div class="column is-5">
        
      
      
      <% @twitters.each do | twitter | %>
        <div class="box contenido">
          <article class="media">
            <div class="media-left">
              <figure class="image is-64x64">
                <%= gravatar_image_tag(twitter.user.email, size: 64, alt: twitter.user.name) %>
              </figure>
            </div>
            <div class="media-content">
              <div class="content">
                <strong class="has-text-grey-lighter"><%= twitter.user.name %></strong><br />
                <small class="has-text-grey-lighter"><%= twitter.user.username %></small><br/>
                <p class="has-text-grey-lighter"><%= twitter.twitter %></p>
              </div>
              <% if user_signed_in? && current_user.id == twitter.user_id %>
              <nav class="level">
                <div class="level-left is-mobile">
                  <%= link_to twitter, class: "level-item" do %>
                    <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
                  <% end %>
                  <%= link_to edit_twitter_path(twitter), class: "level-item" do %>
                    <span class="icon"><i class="fa fa-pencil" aria-hidden="truegit "></i></span>
                  <% end %>
                  <%= link_to twitter, method: :delete, data: { confirm: "Are you sure you want to delete this tweet?" } do %>
                      <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                  <% end %>
                </div>
              </nav>
              <% end %>
            </div>
          </article>
        </div>
      <% end %>
    </div>









      <div class="column is-3">
	<nav class="panel derecha">
	<div class="panel-block" style="border-color: #9c9c9c">
		<article class="media">
			<p class="subtitle is-4 has-text-grey-lighter has-text-weight-bold">Who to follow</p>
		</article>
	</div>
	
	<div class="panel-block" style="border-color: #9c9c9c">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://pbs.twimg.com/profile_images/1284197749030887429/7n6w-Urk_400x400.jpg">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p>
						<strong class=" has-text-grey-lighter">Real Madrid</strong>
						<small>@realmadrid</small>
					</p>
				</div>
			</div>
		</article>
	</div>
		<div class="panel-block" style="border-color: #9c9c9c">
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32 ">
					<img src="https://pbs.twimg.com/profile_images/1291131477162434563/7_CvM9U6_400x400.jpg"> 
					
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p class="has-text-grey-lighter">
						<strong class="has-text-grey-lighter">FC Barcelona</strong>
						<small>@FCBarcelona</small>
					</p>
				</div>
			</div>
		</article>
	</div>
		<div class="panel-block" >
		<article class="media">
			<div class="media-left">
				<figure class="image is-32x32">
					<img src="https://pbs.twimg.com/profile_images/1157313327867092993/a09TxL_1_400x400.jpg">
				</figure>
			</div>
			<div class="media-content">
				<div class="content">
					<p class=" has-text-grey-lighter">
						<strong class=" has-text-grey-lighter">Cristiano Ronaldo</strong>
						<small>@Cristiano</small>
					</p>
				</div>
			</div>
		</article>
	</div>
	</nav>



      </div>
    </div>
  </section>
<% else %>
  <%= render 'loginprofile' %>
<% end %>