<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Twitter</title>
<%= stylesheet_link_tag 'index.css' %>  
</head>
<section class="formulario">
	<form class="contenedor">		
				<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				  <div class="div__input">
				  	<div class="contraseña">
						<%= f.input :email, required: false, input_html: { class: "form__input"}, wrapper: false, label_html: { class: "label1" } %>
						<br style:{"background:none"}>
						<%= f.input :remember_me, wrapper: false, as: :boolean if devise_mapping.rememberable?%>
				    </div>
				  </div>

				  <div class="div__input">
				  	<div class="contraseña">
				    <%= f.input :password, required: false, input_html: { class: "form__input"}, wrapper: false, label_html: { class: "label1" } %>
						</div>
					</div>

				  <%= f.button :submit, "Log in", class:"button is-info is-normal is-outlined is-rounded"%>
				<% end %>
				<br/>
				<%= render "devise/shared/links" %>
	</div>
</section>
	<div class="form_principal">
        <img src="/twitter.png"><br>
        <div id="centraltext">
            <span>See what's hapenning in the world right now</span><br>
        </div>
        <div id="secundarytext">
            <span>Join twitter today.</span><br>
        </div>
        <button class="button button2">Sign up</button><br>
        <button class="button button1">Log in</button>
    </div>
    <div class="piedepagina">
        <footer>
            <span>About</span>
            <span>Help Center</span>
            <span>Terms</span>
            <span>Privacy policy</span>
            <span>Cookies</span>
            <span>Ads info</span>
            <span>Blog</span>
            <span>Status</span>
            <span>Jobs</span>
            <span>Brand</span>
            <span>Advertise</span>
            <span>Marketing</span>
            <span>Businesses</span>
            <span>Developers</span>
            <span>Directory</span>
            <span>Settings</span>
            <span>&copy; 2020 Twitter, Inc.</span>
        </footer>
    </div>